/* * {
    margin: 0;
} */

div {
    border: 1px solid black;
    width: 200px;
}

.section-1 {
    display: flex;
    background-color: aqua;
    height: 400px;
    align-items: center;
    justify-content:space-around;
    flex-wrap: wrap;
}

