.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.btn, .btn-secondary {
  background-color: aquamarine;
  border: 2px solid aquamarine;
  padding: 6px 12px;
  font-size: 18px;
}

.btn-secondary {
  background-color: rgb(119, 216, 216);
  border-color: rgb(119, 216, 216);
}

.card {
  border: 1px solid black;
}
