body {
    display: flex;
    justify-content: center;
}

main {
    display: flex;
    align-items: center;
    width: 600px;
    flex-direction: column-reverse;
    gap: 20px;
    border: 2px solid black;
    padding: 10px;
}

div {
    display: flex;
    width: 100px;
    height: 100px;
    font-family: Arial, Helvetica, sans-serif;
    align-items: center;
    justify-content: center;
}

section {
    display: flex;
    align-items: center;
    gap: 20px;
}

.vertical {
    flex-direction: column-reverse;
}

.horizontal {
    flex-direction: row-reverse;
}

.card1 {
    background-color: rgb(130, 130, 212);
}

.card2 {
    background-color: rgb(212, 179, 130);
}

.card3 {
    background-color: rgb(212, 142, 130);
}

.card4 {
    background-color: rgb(150, 150, 150);
}

.card5 {
    background-color: rgb(223, 223, 28);
}

.card6 {
    background-color: skyblue;
}

.card7 {
    background-color: hotpink;
}

.card8 {
    background-color: yellowgreen;
}